@use "../presets" as *;
@use "../mixins" as *;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em;
  font-size: 1.125rem;
  letter-spacing: 0.1em;
  transition: background-color 0.5s;

  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}

.btn--light {
  min-width: 250px;
  height: 60px;
  border: 2px solid $color-light;
  background-color: rgb($color-light, 0.1);
}

.btn--primary {
  min-width: 350px;
  height: 60px;
  border: 2px solid $color-primary;
  background-color: rgb($color-primary, 0.8);
}